h1, h2{
    font-weight: normal;
    margin: 0;
}

p {
    text-align: left;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header > h1, header > p {
    text-align: center;
    margin: auto;
}

nav li{
    display: inline-block;
    align-content: flex-end;
}

ul{
    margin-top: 0em;
    margin-bottom: 0em;
}

body > header > nav > ul > li:nth-child(1) > p{
    margin-top: 0em;
    margin-bottom: 0em;
}

body > header > nav > ul{
    padding: 0em;
    margin: 0em;
}

body > footer > p{
    text-align: center;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}