{% load static %}
<html>
    <head>
        <title>Mohit's blog</title>
		<!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <p>Hello {{ user.username }}</p>
                        <a href="{% url 'post_new' %}">Create new post</a>
                        <a href="{% url 'post_draft_list' %}">Drafts</a>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    {% else %}
                        <a href="{% url 'accounts:login' %}">Login to create new post</a>
                        <a href="{% url 'accounts:signup' %}">Signup</a>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <hr>
        <div class="content container">
            {% block content %}
            {% endblock %} 
        </div>
    </body>
</html>